<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<%= form_with url: root_path, method: :get do |form| %>
  <%= form.text_field :uid, placeholder: 'Flickr User ID' %>
  <%= form.submit "Search User Photos" %>
  <%= link_to 'Clear Search', root_path %>
<% end %>
<br>
<% if @photos %>
  <% @photos.each do |photo| %>
    <% photo_url = "https://live.staticflickr.com/#{photo['server']}/#{photo['id']}_#{photo['secret']}.jpg" %>
    <a href= <%= photo_url %> >
      <img src= <%= photo_url %> alt= <%= 'user photo' %> > 
    </a> 
    <br>
  <% end %>
<% else %>
  <small><i>No Photos Available</i></small>
<% end %>